@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.conteiner{
display: flex;
}

header{
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.349);
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 3em;
    padding: 5px;
    text-align: center;
    border: black solid 1px;
    border-radius: 15px;
    color: rgb(241, 241, 243);
    height: 100px;
    
}

body{
   background-image: url(imagens/wallpaper001.jpg);
}

main{
    background-color: blue;
    height: 100px;
}
aside{
    background-color: green;
    height: 100px;
}
footer{
    background-color: red;
    height: 100px;
}
